default:
  extensions:
    LeanPHP\Behat\CodeCoverage\Extension:
# optional authentication
      auth:        ~
#     auth:
#       user:      user
#       password:  password
      create:
        method:    POST
        path:      /
      read:
        method:    GET
        path:      /
      delete:
        method:    DELETE
        path:      /
      drivers:
        - remote
        - local
      filter:      ~
#     filter:
#       forceCoversAnnotation:                false
#       mapTestClassNameToCoveredClassName:   false
#       whitelist:
#         addUncoveredFilesFromWhitelist:     true
#         processUncoveredFilesFromWhitelist: false
#         include:
#           directories:
#             'some_path':
#               suffix: 'some_suffix'
#               prefix: 'some_prefix'
#           files:
#             - 'some_file'
#         exclude:
#           directories:
#             ...
#           files:
#             ...
#       blacklist:
#         include:
#           directories:
#             ...
#           files:
#             ...
#         exclude:
#           directories:
#             ...
#           files:
#             ...
      report:
        format:    html
        options:
          target:: /tmp/report
