<?xml version="1.0" encoding="UTF-8"?>

<!-- https://phpunit.readthedocs.io/en/latest/configuration.html -->
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="vendor/phpunit/phpunit/schema/9.3.xsd"
         colors="true"
         bootstrap="vendor/autoload.php"
>

    <testsuites>
        <testsuite name="behat-code-coverage">
            <directory>tests</directory>
        </testsuite>
    </testsuites>

  <coverage processUncoveredFiles="false">

    <include>
      <directory>src</directory>
    </include>

    <report>
      <html outputDirectory="build/coverage"/>
      <text outputFile="php://stdout" showUncoveredFiles="true"/>
    </report>

  </coverage>

</phpunit>
