<?xml version="1.0" encoding="UTF-8"?>

<!-- https://phpunit.readthedocs.io/en/latest/configuration.html -->
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="vendor/phpunit/phpunit/phpunit.xsd"
         colors="true"
         bootstrap="vendor/autoload.php"
         cacheResultFile="build/phpunit-cache/test-results"
         cacheDirectory="build/phpunit-cache"
         displayDetailsOnIncompleteTests="true"
         displayDetailsOnSkippedTests="true"
         displayDetailsOnTestsThatTriggerDeprecations="true"
         displayDetailsOnTestsThatTriggerErrors="true"
         displayDetailsOnTestsThatTriggerWarnings="true"
         displayDetailsOnTestsThatTriggerNotices="true"
         displayDetailsOnPhpunitNotices="true"
         displayDetailsOnPhpunitDeprecations="true"
         displayDetailsOnAllIssues="true"
         failOnPhpunitWarning="false"
>

    <testsuites>
        <testsuite name="behat-code-coverage">
            <directory>tests</directory>
        </testsuite>
    </testsuites>

    <source>
        <include>
            <directory>src</directory>
        </include>
    </source>

  <!-- pathCoverage must be set false here for CI or PCOV fails. It is enabled via CLI for Xdebug -->
  <coverage pathCoverage="false" cacheDirectory="build/phpunit-cache/coverage">
    <report>
      <html outputDirectory="build/coverage"/>
      <text outputFile="php://stdout" showUncoveredFiles="true"/>
    </report>

  </coverage>

</phpunit>
